@model Universidad.DbModels.Matricula

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Matricula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nota)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nota)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdalumnoNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdalumnoNavigation.Idalumno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdmateriaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdmateriaNavigation.Idmateria)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdprofesorNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdprofesorNavigation.Idprofesor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Idmatricula">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
